<div class=commands align="center" style="background-color: #D6EEEE">
  <div>
    <a href="{{commands.btn_up}}"><button class="button-85" role="button">Up</button></a>
    <a href="{{commands.btn_down}}"><button class="button-85" role="button">Down</button></a>
    <a href="{{commands.btn_left}}"><button class="button-85" role="button">Left</button></a>
    <a href="{{commands.btn_right}}"><button class="button-85" role="button">Right</button></a>
  </div>
  <div align="center" style="background-color: #D6EEEE">
	<a href="{{commands.btn_a}}"><button class="button-33" role="button">A</button></a>
	<a href="{{commands.btn_b}}"><button class="button-33" role="button">B</button></a>
  </div>
  <div align="center" style="background-color: #D6EEEE">
	<a href="{{commands.btn_start}}"><button class="button-33" role="button">Start</button></a>
	<a href="{{commands.btn_select}}"><button class="button-33" role="button">Selects</button></a>
  </div>
</div>
